*{
    margin:0;    
    padding: 0;
    box-sizing: border-box;
    
    font-size: 80px;
}

/*h1{
font-size: 60px;
font-family:Georgia, 'Times New Roman', Times, serif ;

}*/
body{
    background-image: url(../imagenes/imagen\ informatica.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}
.registro{
    width: 400px;
    background-color: black;
    padding: 30px;
    margin: auto;
    margin: top 100px; 
    border-radius: 4px;
    /*font-family: cursive;*/
}

.registro h4{
    font-size: 22px;
    margin-bottom: 20px;
    color: white;
}

.control{
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid;
    font-size: 10px;
}

.registro p{
    height: 40px;
    text-align: center;
    color: white;
    font-size: 18px;
}

.registro a{
    color: white;
    text-decoration: none;
}


.registro a:hover{
    color: white;
    text-decoration: underline;
}


.registro .boton{
    width: 100%;
    background-color: white;
    border: none;
    padding: 12px;
    color:black;
    margin: 16px 0;
    font-size: 16px;
}

.boton2{
    width: 50%;
    background-color: white;
    border: none;
    padding: 15px;
    color:blueviolet;
    margin: 18px 3;
    font-size: 16px;
}

.imagen{
    float: left;
    background-size: 25%;
}